---
import PageHeading from "../components/page-heading.astro";
import Post from "../components/post.astro";
import Layout from "../layouts/main.astro";
import { contentfulClient } from "../lib/contentful.ts";
import type { Post as PContent } from "../lib/contentful.ts";

const entries = await contentfulClient.getEntries<PContent>({
  content_type: "post",
});

const posts = entries.items
  .sort((a, b) => Number(b.fields.publishedDate) - Number(a.fields.publishedDate))
  .map((item) => {
    const { title, description, content, publishedDate, slug } = item.fields;
    return {
      title,
      description,
      content,
      publishedDate,
      slug
    };
  });
---

<Layout title="Posts">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Posts"
      description="I like to write every once in a while about things that interest me. Some are related to my development, some are just random thoughts. Check them out below!"
    />

    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2"
    >
      {
        posts.map((post) => {
          return (
            <Post
              title = {post.title}
              description = {post.description}
              publishedDate = {post.publishedDate}
              slug = {post.slug}
            />
          )
        })
      }
    </div>
  </section>
</Layout>
