<style>
  .name-container {
    width: 300px; /* Adjust this value as needed */
  }
</style>

<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold name-container"
>
  <!-- Logo Text -->
  <span class="-translate-y-0.5"> Mitchell Peck</span>
</a>
