<style>
  .name-container {
    width: 300px; /* Adjust this value as needed */
  }
</style>

<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold name-container"
>
  <span class="text-xl -translate-y-0.5 group-hover:rotate-12 group-hover:scale-[1.2] ease-in-out duration-300">
    <h1 class="text-4xl inline">M</h1>
    <h1 class="text-4xl inline -ml-3">P</h1>
  </span>
  </span>

  <!-- Logo Text -->
  <span class="-translate-y-0.5"> Mitchell Peck</span>
</a>
