---
const { title, description } = Astro.props;
---

<div class="relative z-20 w-full mx-auto lg:mx-0">
  <h2
    class="text-xl font-bold tracking-tight text-neutral-900 dark:text-neutral-100 sm:text-2xl lg:text-3xl"
  >
    {title}
  </h2>
  <p
    class="mt-2 text-xs leading-5 text-neutral-600 dark:text-neutral-400 sm:mt-3 lg:mt-4 sm:leading-6 lg:leading-7 sm:text-sm lg:text-base"
  >
    {description}
  </p>
</div>